
/*-------------------------------------------------------------- */
/* Miscellaneous styles                                          */
/*-------------------------------------------------------------- */

#header
{
	width:	100%;
	w\idth: 100%;
}

#content
{
	position: relative;
	width: 352px;
	w\idth: 352px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

.page_bar
{
	margin: 2px 0 2px 0;
	float:none;
	position:relative;
	height: 1%;
	width:100%;
	w\idth: 10em;
}



#newslist .left_image
{
	width:          150px;
	w\idth: 				150px;
}


#newslist .right_image
{
	width:          150px;
	w\idth: 				150px;
}




#bottom_container
{
	clear:both;
	float:left;
	border-top:3px solid #000;
	position:relative;
	padding:        0;
	padd\ing: 			0;
	margin: 				0;
	ma\rgin: 				0;
	width:			100%;
	w\idth:			100%;
	height: 		auto;
}

#sidebar_b1
{
	margin: 0;
	ma\rgin: 0;
	padding:5px 0px 5px 0px;
	padd\ing: 5px 0px 5px 0px;
	float:left;
	position:relative;
	background:white;
	text-align:left;
	font-size: 0.95em;
	height: auto;
	width:  100%;
	w\idth:100%;
}


#sidebar_b1 ul.sidebar_b1_ul li.widget
{
	display:  inline;
	float:		left;
	position:	relative;
	vertical-align:top;
	padding:5px 15px 5px 15px;
  margin-bottom: -0.1em;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: 15em;		/* Breitenangabe fuer IE 6 */
	height:1%;
}



#sidebar_b1 ul.sidebar_b1_ul li ul li
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;		/* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
	height:1%;
}

#sidebar_b1 ul.sidebar_b1_ul li ul
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}



#sidebar_b1 ul.sidebar_b1_ul li ul li
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}

ul.sidebar_b1_ul li ul li a
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}





#sidebar_b2
{
	margin: 0;
	ma\rgin: 0;
	padding:5px 0px 5px 0px;
	padd\ing: 5px 0px 5px 0px;
	float:left;
	position:relative;
	background:white;
	text-align:left;
	font-size: 0.95em;
	height: auto;
	width:  100%;
	w\idth:100%;
}


#sidebar_b2 ul.sidebar_b2_ul li.widget
{
	display:  inline;
	float:		left;
	position:	relative;
	vertical-align:top;
	padding:5px 15px 5px 15px;
  margin-bottom: -0.1em;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: 15em;		/* Breitenangabe fuer IE 6 */
	height:1%;
}



#sidebar_b2 ul.sidebar_b2_ul li ul li
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;		/* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
	height:1%;
}


#sidebar_b2 ul.sidebar_b2_ul li ul
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}


ul.sidebar_b2_ul li ul li a
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}









#sidebar_right
{
	border-left: none;
}


#sidebar
{
	border-right: none;
}







#tab_panel_body
{
	float:          left;
	position:       relative;
	padding:        0px;
	padd\ing: 			0;
	margin: 				0;
	ma\rgin: 				0;
	border:					1px solid #000;
	overflow:       hidden;
	font-size:      12px;
	text-align:     left;
	width:          100%;
	w\idth:					100%;
	height: 				auto;
}


#tab_panel_body ul li.widget
{
	position:	relative;
	display:	inline;
	float:  	left;
	font-size:12px;
	margin:		5px;
	ma\rgin: 	5px;
	padding: 	5px;
	padd\ing: 5px;
	vertical-align: top;
/*	width:    auto;
	w\idth:					100%; */

	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;		/* Breitenangabe fuer IE 6 */
	height:1%;
}

#tab_panel_body ul li ul li
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
	height:1%;
}

#tab_panel_body ul li ul li a
{
	display:block;
	width: 100%;    /* Breitenangabe fuer IE 5.x */
	w\idth: auto;  /* Breitenangabe fuer IE 6 */
	margin: 0;
	ma\rgin: 0;
	padding: 0;
	padd\ing: 0;
}



#tab_panel_tabs_container
{
	height: 	25px;
	padding:  0;
	padd\ing: 0;
	float:    top;
	width:  	100%;
	w\idth:		100%;
}


#tab_panel_tab
{
	text-align: center;
	float:    	left;
	display:    inline;
	width:      auto;
	w\idth:			100%;
	height:     auto;
	margin:     0;
	ma\rgin: 		0;
}

#tab_panel_tab  a
{
	border: 		1px solid #000;
	font-size:  12px;
	width:      auto;
	w\idth:			100%;
	padding:  	5px 15px 5px 15px;
	padd\ing:  	5px 15px 5px 15px;
}





